{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'images/logo-round.png' %}">
</head>
<body>
    {% include "navbar.html" %}

    <div class="form-center">
        {% if message %}
            <div style="color: red; text-align: center; margin-bottom: 10px;">{{ message }}</div>
        {% endif %}
        {% if success_message %}
            <div style="color: green; text-align: center; margin-bottom: 10px;">{{ success_message }}</div>
        {% endif %}
        
        <div class="login-container">
            <h2>RESET PASSWORD</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit">Send Reset Link</button>
            </form>
            <p>Remember your password? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</body>
</html> 